@use "../abstracts/variables" as *;

.home__cards{
    background-color: #F6F6F6;
    margin: 43px 0 50px 0;
    border-radius: $main-border;
    .list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
        grid-row-gap: 3.1rem;
        grid-column-gap: 3.75rem;
        margin: auto;
        padding: 56px 50px 43px 50px;

    }
    .list__logements{
        list-style: none;
    }
    .list__card{
        color: $main-text-color;
        text-decoration: none;
        @include cards(100%,340px);
        @include typo(700,18px,18px,18px,white);
    }
    .list__card-content{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        position: relative;
    }
    .list__card-title{
        width: 90%;
        height: 15%;
        margin: 0 20px 20px 20px;
        text-shadow: $main-text-shadow;
        z-index: 100;
        position: relative;
    }
    .list__card-img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $secondary-border;
    position: absolute;
    top: 0;
    left: 0;
    }
}

@media screen and (max-width: 700px) {
  .home__cards{
    background-color: transparent;
    margin: 22px 0 27px 0;
    .list{
        grid-template-columns: 1fr;
        padding: 0;
        grid-row-gap: 20px;
    }
    .list__card{
        max-height: 255px;
    }
}
}


