// Mixin pour la police global du site
@mixin typo($weight,$min-size, $size,$max-size, $color) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
  font-size: clamp($min-size, $size, $max-size);
  color: $color;
}