// Mixin pour la police global du site
@mixin typo($weight,$min-size, $size,$max-size, $color) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
  font-size: clamp($min-size, $size, $max-size);
  color: $color;
}

// Mixin pour la taille des cards
@mixin cards($width,$height) {
  border-radius: $secondary-border;
  display: block;
  width: $width;
  height: $height;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

// Mixin pour la taille des collapses
@mixin collapse($minWidth, $preferedWidth, $maxWidth,$borderRadius) {
  width: clamp($minWidth,$preferedWidth,$maxWidth);
  border-radius: $borderRadius;
}

// Variable globale
$main-text-color: black;
$main-color-collapse:#FF6060;
$main-back-color:#F6F6F6;
$main-border: 16px;
$secondary-border: 10px;
$main-text-shadow: 
  -1px -1px 0 $main-text-color,
  1px -1px 0 $main-text-color,
  -1px 1px 0 $main-text-color,
  1px 1px 0 $main-text-color, 
  0 4px 4px rgba(0,0,0,0.25);