@use "../abstracts/variables" as *;

.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    overflow: hidden;
    background-image: url("/src/assets/banner-desk-home.webp");
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);

    &::after{
        content: "";
        position:absolute;
        inset: 0;
        background-color: rgba(0,0,0,0.5);
        
    }
}

.banner-title{
    @include typo(700,24px,3vw,48px,white);
    position: absolute;
    z-index: 100;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black, 
     0 4px 4px rgba(0,0,0,0.25) ;
}

@media all and (max-width: 700px) {
    .banner{
        height: 111px;
         background-image: url("/src/assets/banner-mob-home.webp");
        justify-content: start;
        padding-left: 16px;
    }
    .banner-title{
        width: 70%;
    }
}