@use "../abstracts/variables" as *;

.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    overflow: hidden;
    border-radius: $main-border;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);

    .banner__content, .banner__content img{
        width:100%
    }

    .banner__title{
    @include typo(700,24px,3vw,48px,white);
    position: absolute;
    z-index: 100;
    text-shadow: $main-text-shadow;
    }


    &::after{
        content: "";
        position:absolute;
        inset: 0;
        background-color: rgba(0,0,0,0.5);
        
    }
}

@media all and (max-width: 700px) {
    .banner{
        height: 111px;
        justify-content: start;
    }
    .banner__title{
        padding-left: 16px;
    }
}