@use "../abstracts/variables" as *;

.collapse{
    &--large{
        @include collapse(335px,100%,1023px);
    }
    &--small{
        @include collapse(335px,100%,582px);
    }
    .collapse__header{
        padding: 10px 20px 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        background-color: $main-color-collapse;
        @include typo(700,13px,3vw,24px,white);
    }
    .collapse__header-icon {
        cursor: pointer;
        transition: transform 0.3s ease;
        transform: rotate(0deg);
    }
    .collapse__header[aria-expanded="true"] .collapse__header-icon {
        transform: rotate(-180deg);
    }
    .collapse__content {
        overflow: hidden;
        transition: height 0.5s ease;
    }
    .collapse__content-inner{
        border-radius: 0 0 5px 5px;
        background-color: #F6F6F6;
        padding: 16px 20px;
        @include typo(400,12px,3vw,18px,$main-text-color);
        transition: transform 0.6s ease;
        transform: translateY(-50px);
    }
    .collapse__content.is-open .collapse__content-inner {
        transform: translateY(0);
    }
}
